/* Input.css */
.form {
    display: flex;
    flex-direction: row;
    border-top: 2px solid #D3D3D3;
  }
  
  .input {
    border: none;
    border-radius: 0;
    width: 80%;
    height:30px;
    font-size: 1.2em;
  }
  
  .sendButton {
    color: #FFF;
    text-transform: uppercase;
    background: #a55fae;
    padding: 20px;
    border: none;
    width: 20%;
    cursor: pointer;
  }

  @media screen and (max-width:768px) {
    .sendButton{
      width: 30%;
    }
  }
  