/* Message.css */
.messageContainer {
    display: flex;
    
    justify-content: flex-end;
    padding: 2% 5%;
    /* height: 100vh; */
    /* overflow: scroll; */
    /* margin-top: 3px; */
  }
  
  .messageBox {
    background: #F3F3F3;
    border-radius: 20px;
    padding: 5px 20px;
    color: white;
    display: inline-block;
    max-width: 80%;
  }
  
  .messageText {
    width: 100%;
    letter-spacing: 0;
    float: left;
    font-size: 1.1em;
    word-wrap: break-word;
  }
  
  .messageText.colorWhite {
    color: white;
  }
  
  .messageText.colorDark {
    color: white;
  }
  
  .messageContainer.justifyEnd {
    justify-content: flex-end;
    flex-direction: column;
    align-items: end;
  }
  
  .messageContainer.justifyStart {
    justify-content: flex-start;
    flex-direction: column-reverse;
    align-items: start;
  }
  
  .messageBox.backgroundBlue {
    background: #781884;
  }
  
  .messageBox.backgroundLight {
    background: #a55fae;
  }
  
  .sentText {
    display: flex;
    align-items: center;
    /* border: 2px solid black; */
    font-family: Helvetica;
    color: #828282;
    letter-spacing: 0.3px;
  }
  
  .sentText.pr-10 {
    padding-right: 10px;
  }
  
  .sentText.pl-10 {
    padding-left: 10px;
  }
  